@import (reference) './base.module.less';
@import './variables.module.less';

.container {
  &:extend(.container);

  justify-content: center;
  align-items: center;
  padding: 24px;
  min-height: calc(100vh - 286px - 48px);

  @media (max-width: @screen-md) {
    min-height: unset;
    padding: 48px 16px;
  }
}

.logoGrayscaled {
  height: 100px;
  width: 100px;
  filter: grayscale(1);
}

.textWrapper {
  margin: 24px 0;
  text-align: center;
}

.paragraph {
  margin: unset !important;
  font-size: 20px;
  line-height: 28px;
  color: @text-color-secondary;
}