@import './variables.module.less';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto !important;
  padding: 24px;
  // gotta calculate
  min-height: calc(100vh - 286px - 48px);

  @media (max-width: @screen-md) {
    min-height: unset;
    padding: 48px 16px;
  }
}

.logoGrayscaled {
  height: 100px;
  width: 100px;
  filter: grayscale(1);
}

.text {
  margin: 24px 0;
  text-align: center;
}

.title {
  margin-bottom: 12px !important;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}

.paragraph {
  margin: unset !important;
  font-size: 20px;
  line-height: 28px;
  color: @text-color-secondary;
}