@import "~antd/dist/antd.less";
@import './variables.module.less';

.ant-menu-title-content {
  font-size: 14px;
  line-height: 20px;
}

.ant-menu-item:hover::after {
  border-bottom: 0 !important;
}

[data-id="logo"] .ant-menu-title-content {
  display: inline-block;
  line-height: 64px;
}

[data-id="logo"] .ant-menu-title-content span:first-child {
  top: 4px;
}

body {
  background: @fake-white;
}

#__next {
  display: flex;
  flex-direction: column;
}

.ant-card-body {
  padding: 16px;
}