@import './variables.module.less';

// Layout
.container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto !important;
  padding: 16px 24px 64px 24px;

  @media (max-width: @screen-xl) {
    width: 100%;
  }

  @media (max-width: @screen-md) {
    padding: 16px 24px 32px 24px;
  }

  @media (max-width: @screen-sm) {
    padding: 16px 16px 32px 16px;
  }
}

.innerLayout {
  background: var(--cr-secondary-bg);
}

.breadcrumbs {
  margin-bottom: 48px;

  @media (max-width: @screen-md) {
      margin-bottom: 32px;
  }
}

// Typography
.title {
  font-size: 30px !important;
  line-height: 38px !important;
  margin-bottom: 12px !important;
  color: var(--cr-primary-text) !important;
}

.subtitle {
  margin-bottom: 48px !important;
  color: var(--cr-primary-text) !important;

  @media (max-width: @screen-md) {
      margin-bottom: 32px !important;
  }
}

.paragraph {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 24px !important;
  color: var(--cr-primary-text) !important;

  @media (max-width: @screen-md) {
    margin-bottom: 16px !important;
  }
}

// Icons and Imagery
.icon {
  path {
    fill: @disabled-color;
  }

  &:hover {
    path {
      fill: @text-color !important;
    }
  }
}

.tooltipIcon {
  margin-left: 4px;
  margin-right: 4px;

  svg {
    width: 10px;
  }

  path {
    fill: @text-color-secondary;

    &:hover {
        fill: @text-color;
    }
  }
}

.card {
  background-color: var(--cr-primary-bg);
  color: var(--cr-primary-text);
  border: var(--cr-primary-border);
}

.collapse {
  border: 1px solid var(--cr-primary-border) !important;
}

:root[data-theme="theme-dark"] {
  .collapse {
    background-color: var(--cr-primary-bg);
  }

  .icon {
    path {
      fill: #5A5A5A;
    }

    &:hover {
      path {
        fill: var(--cr-primary-text) !important;
      }
    }
  }

}

.collapse > * > div:nth-child(1) {
  background-color: var(--cr-primary-bg);
  color: var(--cr-primary-text) !important;
}

.collapse > * > div:nth-child(2) {
  background-color: var(--cr-tertiary-bg);
  color: var(--cr-primary-text) !important;
  border-top: 1px solid var(--cr-primary-border) !important;
}

.collapse > * {
  border-bottom: 1px solid var(--cr-primary-border) !important;
}

:root[data-theme="theme-dark"] {
  .homeBreadCrumb {
    color: var(--cr-fifth-bg) !important;
  }
}

:root[data-theme="theme-light"] {
  .homeBreadCrumb {
    color: var(--cr-fifth-bg) !important;
  }
}