@import './variables.module.less';

.sectionDescriptionSource {
  display: flex;
  align-items: center;
  color: var(--cr-primary-text);
  margin-top: 16px;
}

.sectionDescriptionSourceGPTLogo {
  height: 28px !important;
  width: 28px !important;
  border-radius: 6px;
  margin: 0 8px 0 0 !important;
}

.sectionDescriptionSourceGPTSummarized {
  color: @cr-gray-8;
}