@import './variables.module.less';

.content {
  display: flex;
  flex-direction: column;
  padding: 16px 25px;
}

.breadcrumb {
  margin-bottom: 32px;
}

.trendTags :global(.ant-tag) {
  border: none !important;
  margin-right: 0 !important;
  line-height: 24px !important;
}

.trendKey {
  color: @text-color-secondary;
}

.signalWarning path {
  fill: @icon-bg;
}

.signalWarning:hover path {
  fill: @text-color-secondary;
}

.cardGrid {
  padding: 16px;
  min-height: 64px;
}

.nameCard, .priceCard {
  width: 25%;
}

.priceDetailCard {
  width: 50%;
}

.descriptionCard {
  width: 100%;
}

.contractCard, .socialCard {
  width: 50%;
}

.socialSoloCard {
  width: 100% !important;
}

.chartGrid {
  display: block;
  width: 100%;
  height: 450px !important;
}

#coinChart {
  max-width: 700px;
  margin: auto;
  height: calc(100% - 16px) !important;
}

.cardData {
  min-height: 224px;
  width: 25%;
}

.h1Title {
  font-size: 24px !important;
  line-height: 32px !important;
  margin-bottom: 0 !important;
}

.linkTag {
  line-height: 26px;
}

.labelValueGroup {
  margin-bottom: 16px;
}

.label {
  color: @text-color-secondary !important;
  line-height: 24px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  margin-bottom: 0 !important;
}

.value {
  color: @fake-black;
  line-height: 24px;
  font-weight: bold;
}

.similarCoinLink {
  cursor: pointer;
}

.similarCoin {
  margin-bottom: 2px;
  margin-right: 5px;
}

.exchangeTitle {
  margin: 1em 0 0.5em !important;
  text-align: center;
}

.exchangesTable table {
  table-layout: fixed !important;
}

.exchangeSpace {
  width: 100%;
  justify-content: space-between;
}

.trustScore {
  width: 16px;
  height: 16px;
  border-radius: 100px;
}

.trustScoreGreen {
  background: @success-color;
}

.trustScoreRed {
  background: @error-color;
}

@media screen and (max-width: @screen-lg) {
  .tagCard, .similarCoinCard {
    min-height: unset;
  }

  .nameCard, .priceCard, .dataCard1, .dataCard2, .tagCard, .similarCoinCard {
    width: 50%;
  }

  .priceDetailCard, .contractCard {
    width: 100%;
  }
}

@media screen and (max-width: @screen-md) {
  .priceCard {
    box-shadow: none;
  }

  .nameCard, .priceCard, .dataCard1, .dataCard2, .tagCard, .similarCoinCard {
    width: 50%;
  }

  .socialCard {
    width: 100%;
  }
}

@media screen and (max-width: @screen-sm) {
  .nameCard, .priceCard, .priceDetailCard {
    width: 100%;
  }

  .socialCard, .cardData {
    width: 100% !important;
    min-height: unset;
  }

  .tagCard, .similarCoinCard {
    min-height: unset;
    width: 100%;
  }

  .chartGrid {
    padding: 0;
    padding-bottom: 16px;
    height: 350px !important;
  }
}