@import (reference) './base.module.less';
@import './variables.module.less';

// Coin
.title {
  font-size: 24px !important;
  line-height: 32px !important;
  margin-bottom: 0 !important;
}

.trendTag :global(.ant-tag) {
  border: none !important;
  margin-right: 0 !important;
  line-height: 20px !important;
  padding: 2px 4px !important;

  @media screen and (max-width: @screen-md) {
    font-size: 10px;
  }
}

.trendKey {
  color: @text-color-secondary;
}

.signalExplainer path {
  fill: @cr-icon-fill;

  &:hover {
    fill: @cr-icon-fill-hover;
  }
}

.section {
  padding: 16px;
  min-height: 64px;
}

.sectionFlex {
  display: flex;
}

.sectionHeader {
  width: 100%;
}

.sectionsDailyAndWeekly {
  width: 100%;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: @screen-lg) {
    flex-direction: column;
  }
}

.sectionDailyTrend {
  width: unset;

  @media screen and (max-width: @screen-lg) {
    width: 100%;
    box-shadow: none;
  }
}

.sectionWeeklyTrend {
  width: unset;
  box-shadow: none;

  @media screen and (max-width: @screen-lg) {
    width: 100%;
  }
}

.tab {
  width: calc(100% / 3);
  color: @text-color-secondary;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  &.active {
    background-color: @cr-gray;
    color: @cr-primary-color;
    cursor: auto;

    &:hover {
      color: @cr-link-hover-color;
    }
  }
}

.sectionDescription {
  width: 100%;
  padding-right: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 0;
  }

  img {
    max-width: 800px;
    max-height: 600px;
    margin-bottom: 16px;

    @media screen and (max-width: @screen-lg) {
    width: 100%;
    height: auto;
  }
  }

  blockquote {
    border-left: 4px solid rgba(@cr-black, .08);
    background: rgba(@cr-black, .02);
    padding: 12px;
    margin-bottom: 16px;

    p {
      margin-bottom: 0;
    }
  }

  ul {
    margin-bottom: 16px;
  }
}

.sectionTokenomicsHeader {
  width: 100%;

  h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }
}

.sectionContract {
  @media screen and (max-width: @screen-lg) {
    width: 100%;
  }
}

.sectionOnline {
  @media screen and (max-width: @screen-md) {
    width: 100%;
  }

  @media screen and (max-width: @screen-sm) {
    width: 100% !important;
    min-height: unset;
  }

  .button {
    line-height: 26px;
  }
}

.sectionContract, .sectionOnline {
  width: 50%;
}

.sectionOnlineFW {
  width: 100% !important;
}

.sectionData {
  min-height: 288px;
  width: 25%;


  @media screen and (max-width: @screen-sm) {
    width: 100% !important;
    min-height: unset;
  }
}

.data {
  margin-bottom: 16px;
}

.label {
  color: @text-color-secondary !important;
  line-height: 24px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  margin-bottom: 0 !important;
}

.value {
  color: @cr-black;
  line-height: 24px;
  font-weight: bold;
}

.valueTable {
  margin-top: 5px;

  thead th {
    font-weight: bold;
    padding: 8px;
  }

  tbody {
    td {
      text-align: left;
      padding: 8px;
    }

    td:first-child {
      font-weight: bold;
    }
  }
}

.greenRoi {
  color: @cr-success-color;
}

.redRoi {
  color: @cr-error-color;
}

.similarCoin {
  cursor: pointer;
  margin-bottom: 2px;
  margin-right: 5px;
}

.sectionIco {
  width: 30%;

  @media screen and (max-width: @screen-lg) {
    width: 100%;
  }
}

.sectionTags .sectionSimilarCoins {
  @media screen and (max-width: @screen-lg) {
    min-height: unset;
  }

  @media screen and (max-width: @screen-sm) {
    min-height: unset;
    width: 100%;
  }
}

.sectionDataC1, .sectionDataC2, .sectionTags, .sectionSimilarCoins {
  @media screen and (max-width: @screen-lg) {
    width: 50%;
  }

  @media screen and (max-width: @screen-md) {
    width: 50%;
  }
}

.sectionChart {
  display: block;
  width: 100%;
  height: 450px !important;

  @media screen and (max-width: @screen-sm) {
    padding: 0;
    padding-bottom: 16px;
    height: 350px !important;
  }
}

#chart {
  max-width: 700px;
  margin: auto;
  height: calc(100% - 16px) !important;
}

// Market

.sectionTrade {
  width: 100%;
  padding: 0;
}

.marketTitle {
  margin: 1em 1em 0.5em !important;
  text-align: center;
  text-align: left;
}

.marketTable table {
  table-layout: fixed !important;
}

.marketSpace {
  width: 100%;
  justify-content: space-between;
}

.marketTrustScore {
  width: 16px;
  height: 16px;
  border-radius: 100px;
}

.marketTrustScorePositive {
  background: @cr-success-color;
}

.marketTrustScoreNegative {
  background: @cr-error-color;
}