@import './variables.module.less';

.tag {
  line-height: 30px !important;
  margin-right: 0 !important;
  cursor: pointer;

  &:hover {
    border: 1px solid @cr-primary-color;
  }
}

.icon {
  height: 20px;
  width: 20px;
  margin-top: -2px;
}

.metamask {
  margin-top: -2px;

  &:hover {
    cursor: pointer;
  }
}

.platform {
  color: @text-color-secondary;
}

.platformDropdown {
  padding: 0 !important;
}

.platformSelector {
  line-height: 32px;

  span {
    color: @text-color;
  }
}

.platformOptions {
  cursor: default;
  color: @text-color;

  &:hover {
    background: @geekblue-1;
  }
}

.platformSpace {
  width: 100%;
  justify-content: space-between;
}

.metamaskButton {
  margin-right: 10px;
}