@import '~antd/lib/style/themes/dark.less';
@import '~antd/lib/style/color/colors.less';

// TYPOGRAPHY
@font-family: 'IBM Plex Sans', sans-serif;

// COLORS – ANT OVERRIDES
@text-color-secondary: #ACACAC;

// MEDIA QUERIES
@screen-xl: 1440px;
@screen-lg: 900px;
@screen-md: 600px;
@screen-sm: 480px;

// EXPORTS
:export {
  white: @white;
  black: @black;
  primaryColor: var(--cr-primary-color);
  successColor: var(--cr-success-color);
  errorColor: var(--cr-error-color);
}