@import './variables.module.less';

.content {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto !important;
  padding: 16px 24px 64px 24px;

  @media (max-width: @screen-xl) {
    width: 100%;
  }

  @media (max-width: @screen-md) {
    padding: 16px 24px 32px 24px;
  }

  @media (max-width: @screen-sm) {
    padding: 16px 16px 32px 16px;
  }
}

.breadcrumbs {
  margin-bottom: 48px;

  @media (max-width: @screen-md) {
    margin-bottom: 32px;
  }
}

.title {
  font-size: 30px !important;
  line-height: 38px !important;
  margin-bottom: 12px !important;
}

.subTitle {
  margin-bottom: 48px !important;

  @media (max-width: @screen-md) {
    margin-bottom: 32px !important;
  }
}

.imageList {
  padding-inline-start: 5px;
  margin-left: 8px;
}

.imageList :global(img) {
  display: block;
  width: 100%;
  margin: 10px 0;
  max-width: 600px;
}