@import './variables.module.less';

.wrapper {
  padding: 0;
  background: inherit;
  border-top: 1px solid @divider-color;

  a {
    color: @text-color-secondary;

    &:hover {
      color: @cr-link-hover-color;
    }
  }
}

// Primary 
.footerPrimary {
  background: @white;
  padding: 24px;

  @media (max-width: @screen-lg) {
    padding: 24px 16px;
  }

  .lastRow {
    margin-top: 32px;
  }
}

.logo {
  margin-bottom: 12px; 
  height: inherit !important;
  
  .paragraph {
    margin-bottom: 0 !important;
  }
}

.verticalDivider {
  height: 100%;
  margin: 0;
}

.horizontalDivider {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.socials {
  a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: @cr-white;

    &:hover {
      background-color: @divider-color;
    }
  }

  img {
    width: 24px;
  }
}

// Secondary
.footerSecondary {
  font-weight: regular;
  padding: 12px 8px;
  text-align: center;
  margin-bottom: 0 !important;

  a {
    font-weight: bold;
    color: @cr-primary-color !important;

    &:hover {
      color: @cr-link-hover-color !important;
    }
  }
}