@import './variables.module.less';

.footer {
  padding: 0;
  background: inherit;
  border-top: 1px solid @divider-color;
}

.mainFooter {
  padding: 24px;
  background: white;

  @media (max-width: @screen-lg) {
    padding: 24px 16px;
  }
}

.logo {
  height: inherit !important;
  margin-bottom: 12px; 
}

.text {
  margin-bottom: 0 !important;
}

.verticalDivider {
  height: 100%;
  margin: 0;
}

.horizontalDivider {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.bottomRow {
  margin-top: 32px;
}

.footerTitle {
  font-weight: bold;
}

.socialLink {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: @fake-white;
}

.socialLink:hover {
  background-color: @divider-color;
}

.socialImage {
  width: 24px;
}

.sponsor {
  font-weight: regular;
  padding: 12px 8px;
  text-align: center;
  margin-bottom: 0 !important;
}

.sponsorLink {
  font-weight: bold;
  color: @primary-color !important;

  &:hover {
    color: @link-hover-color !important;
  }
}