.footer {
  margin-top: 64px;
  padding: 0;
  background: inherit;
}

.mainFooter {
  padding: 24px;
  background: white;
}

.logo {
  height: inherit !important;
  margin-bottom: 5px;
}

.verticalDivider {
  height: 100%;
  margin: 0;
}

.horizontalDivider {
  margin-top: 15px !important;
  margin-bottom: 30px !important;
}

.bottomRow {
  margin-top: 20px;
}

.footerTitle {
  font-weight: bold;
}

.socialLink {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fafafa;
}

.socialLink:hover {
  background-color: #e8e8e8;
}

.socialImage {
  width: 24px;
}

.sponsor {
  padding: 12px;
  text-align: center;
  margin-bottom: 0 !important;
  margin-top: 4px;
}

.sponsorLink {
  font-weight: bold;
  color: #2F54EB;
}