@import './variables.module.less';

.header {
  background: @white;
  padding: 0;
  position: static;
  width: 100%;
  z-index: 1;
  height: 60px;

  ul {
    li {
      flex-grow: unset !important;
      padding: 0 24px !important;

      @media (max-width: @screen-sm) {
        padding: 0 16px !important;
      }
    }
  }
}

.logo {
  flex-grow: 1;

  &:hover {
    text-decoration: none;
    transition: none !important;
  }

  &::after {
    border-bottom: 0 !important;
  }
}