@import './variables.module.less';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 25px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 30px !important;
  line-height: 38px !important;
  text-align: center;
}

.subTitle {
  font-size: 16px !important;
  line-height: 24px !important;
  max-width: 928px;
  text-align: center;
  margin-bottom: 50px;
}

.fakeLink {
  color: @fake-black;
}

.marketHealth {
  margin-top: 20px;
}

.formRow {
  width: 100%;
}

.formCard {
  width: 100%;
}

.formCard {
  margin-bottom: 12px;
}

@media screen and (max-width: @screen-md) {
  .formCol {
    margin-bottom: 12px;
  }
}

.parameterCard {
  background: @fake-white;
}

.formLabel {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .hiddenFormLabel {
    display: none;
  }
}

.formRangeInput {
  width: 120px;
  margin-right: 12px;
}

.formRangeLabel {
  text-align: center;
}

.formSelect {
  width: 100%;
}

.formAllFilters {
  width: 100%;
}

.formButton {
  background: @fake-white;
  margin-right: 12px;
}

.tableGridRow {
  width: 100%;
  flex-grow: 1;
}

.tableRow {
  cursor: pointer;
}

.coinsTable {
  width: 100%;
  height: 100%;
}

.coinsTable table {
  border: 1px solid white;
  border-radius: 2px;
}

.coinsTable table > thead tr th {
  font-weight: bold;
}

.signalExplanation {
  margin-left: 15px;
}

.signalExplanation svg {
  width: 10px;
}

.signalExplanation path {
  fill: @icon-bg;
}

.signalExplanation:hover path {
  fill: @text-color-secondary;
}

.tableTag {
  margin-right: 0;
}

.tableCoinName {
  font-weight: bold;
  margin-left: 5px;
}

.tableCoinThumb {
  width: 16px;
  height: 16px;
}

.tableCoinSymbol {
  text-transform: uppercase;
  margin-left: 5px;
}

.filterModalRow {
  margin-bottom: 16px;
}

.filterModalInput {
  width: 100%;
}