@import (reference) './base.module.less';
@import './variables.module.less';

.container {
  &:extend(.container);

  padding: 64px 24px;
  align-items: center;

  @media (max-width: @screen-md) {
    padding: 32px 24px;
  }

  @media (max-width: @screen-sm) {
    padding: 32px 16px;
  }
}

.message {
  position:fixed;
  top: 76px;
  z-index: 999;

    @media (max-width: @screen-md) {
      position: inherit;
      margin-bottom: 16px;
  }
}

.title {
  &:extend(.title);

  text-align: center;
  color: var(--cr-primary-text) !important;
}

.subtitle {
  font-size: 16px !important;
  line-height: 24px !important;
  max-width: 928px;
  text-align: center;
  margin-bottom: 64px !important;

  @media (max-width: @screen-md) {
    margin-bottom: 32px !important;
  }

  span {
    font-weight: 600;
    color: var(--cr-primary-text) !important;
  }
}

// Filters
.filters {
  width: 100%;
  margin-bottom: 32px;
  background-color: var(--cr-primary-bg);
  border: 1px solid var(--cr-primary-border);

  .row {
    width: 100%;
    margin-left: 0 !important;
  }

  .col {
    @media screen and (max-width: @screen-md) {
      margin-bottom: 12px;
    }

    label {
      color: var(--cr-primary-text);
    }

  }

  .select {
    width: 100%;
  }
}

.allFiltersButton {
  width: 100%;
  margin-top: 22px;

  @media screen and (max-width: @screen-md) {
    margin: 0;
  }
}

.appliedFilterTag:not(:last-child) {
  margin-bottom: 10px;
}

.modalRow {
  margin-bottom: 16px;
}

.modalInput {
  width: 100%;
}

.modalInputButton {
  color: var(--cr-primary-text);
  background-color: var(--cr-secondary-bg) !important;
  border: 1px solid var(--cr-secondary-border);
}

.modalInputButton:hover {
  color: var(--cr-primary-text);
  background-color: var(--cr-secondary-bg) !important;
}

.modalExplainer {
  color: @text-color-secondary;
}

.modalRangeInput {
  width: 120px;
  margin-right: 12px;
}

.modalRangeLabel {
  text-align: center;
}

.modalSelect {
  width: 100%;
}

:root[data-theme="theme-dark"] {
  .modalSelect span {
    background-color: var(--cr-tertiary-border) !important;
    color: var(--cr-secondary-text) !important;
    border-color: var(--cr-secondary-border) !important;
  }

  .resetFilters {
    background-color: #E84749;
  }
}

.applyFilters {
  background-color: var(--cr-primary-color);
}

.modalSelect > div {
  border: 1px solid var(--cr-secondary-border) !important;
}

.tableRow {
  width: 100%;
  flex-grow: 1;
  background-color: var(--cr-primary-bg);
}

.flavorRadio {
  color: var(--cr-secondary-text);
}

.divider {
  border-color: var(--cr-quartery-bg) !important;
}
