@import (reference) './base.module.less';
@import './variables.module.less';

.table table {
  // width: 100%;
  // height: 100%;
  border: 1px solid white;
  border-radius: 2px;

  thead tr th {
    font-weight: bold;
  }

  colgroup col:first-child {
    @media screen and (max-width: @screen-lg) {
      width: 150px;
    }
  }
}

.row {
  cursor: pointer;
}

.image {
    width: 16px;
    height: 16px;
}

.coin {
    color: @cr-black;

    .name {
        font-weight: bold;
        margin-left: 6px;
    }

    .symbol {
        text-transform: uppercase;
        margin-left: 6px;
    }
}

.columnTitle {
    display: inline-flex;
    align-items: center;
}

.unclickableCell {
  cursor: initial;
}

.clickableTag {
  cursor: pointer;
  margin-right: 10px;
}

.tag {
  margin-right: 0;
}

.negativeValue {
  color: @cr-error-color;
}

.positiveValue {
  color: @cr-success-color;
}