@import './variables.module.less';

.tag {
  line-height: 30px !important;
  margin-right: 0 !important;
}

.icon {
  height: 20px;
  width: 20px;
  margin-top: -2px;
}

.metamask {
  margin-top: -2px;
}

.metamask:hover {
  cursor: pointer;
}

.platform {
  color: @text-color-secondary;
}