@import './variables.module.less';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  background: var(--cr-primary-bg);
  color: var(--cr-primary-text);
  border-bottom: 1px solid var(--cr-primary-border);

  .title {
    display: inline;
    margin: 0 8px;
    vertical-align: initial;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: var(--cr-primary-text);
  }

  .tooltip {
    color: red;
  }
}