@import './variables.module.less';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  background: var(--cr-primary-bg);
  color: var(--cr-primary-text);
  border-bottom: 1px solid var(--cr-primary-border);

  .title {
    display: inline;
    margin: 0 8px;
    vertical-align: initial;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: var(--cr-primary-text);
  }

  .tooltip {
    color: red;
  }

  .explainer {
    padding: 5px;
    border-radius: 14px;
    color: var(--cr-primary-tooltip);

    &:hover, &:active {
      path {
        fill: var(--cr-secondary-text);
      }
    }
  }
}

.modal {
  :global(.ant-modal-body *:last-child) {
    margin-bottom: 0;
  }

  :global(.ant-modal-body) {
    max-height: calc(700px - 56px);
    overflow-y: auto;

    @media (max-width: @screen-lg) {
      max-height: calc(500px - 56px);
    }

    @media (max-width: @screen-md) {
      max-height: unset;
    }
  }
}

@media (max-width: @screen-sm) {
  .header {
    justify-content: space-between;
  }

  .modal {
    margin-top: 48px !important;
    padding: 0 16px !important;
  }
}