@import './variables.module.less';

// Main Platform

.mainPlatform {
  line-height: 30px !important;
  margin-right: 0 !important;
  cursor: pointer;

  &:hover {
    border: 1px solid @geekblue-6;
  }

  .text > :first-child {
    color: @text-color-secondary !important;
  }

  .metamaskButton {
    margin-top: -2px;
  }
}

// Select Platform Input + Dropdown

.selectPlatform {
  line-height: 32px;

  span {
    color: @text-color;
  }
}

.selectDropdown {
  .option {
    cursor: default;
    color: @text-color;

    &:hover {
      background: @geekblue-1;
    }
  }

  .metamaskButton {
    margin-right: 10px;
  }

  .space {
    width: 100%;
    justify-content: space-between;
  }
}

:root[data-theme="theme-dark"] {
  .selectPlatform > div {
    background: var(--cr-tertiary-bg) !important;
    border-color: var(--cr-secondary-border);
    color: var(--cr-primary-text) !important;
  }

  .selectPlatform > div > span, .selectPlatform path {
    color: var(--cr-primary-text) !important;
    fill: var(--cr-primary-text) !important;
  }
}
