@import './variables.module.less';

.search {
  width: 200px;

  :global(.ant-select-selector) {
    height: 34px !important;
  }

  :global(.anticon-search) {
    pointer-events: none !important;
  }
}

.coinOption {
  padding-left: 12px;

  img {
    height: 20px;
    width: 20px;
  }

  &:hover {
    font-weight: bold;
  }
}

.coinName {
  margin-left: 10px;
}

.coinSymbol {
  margin-left: 5px;
  color: @cr-gray-7;
}

.categoryOption {
  padding-left: 12px;
}