@import './variables.module.less';

.modal {
  margin-top: 48px !important;
  top: 0;

  :global(.ant-modal-body) {
    padding: 0;
  }

  :global(.ant-modal-close-x) {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .modal {
    padding: 0 16px !important;
  }
}

.searchIcon {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;

  width: 28px;
  height: 28px;

  background: var(--cr-primary-bg);

  border: 1px solid var(--cr-secondary-border);
  border-radius: 2px;
}

.searchBarWrapper {
  cursor: pointer !important;
}

.searchBar {
  width: 169px !important;
  background-color: var(--cr-primary-bg) !important;
  pointer-events: none;
  padding: 5px 11px !important;

  input {
    background-color: var(--cr-primary-bg);
    cursor: pointer !important;
  }

  @media (max-width: @screen-sm) {
    width: 100%;
  }

  :global(.ant-select-selector) {
    height: 34px !important;
  }
}

.placeholderMagnifier {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  height: 16px;
  width: 16px;
  color: var(--cr-secondary-text) !important;

  svg {
    height: 16px;
    width: 16px;
  }
}

.placeholderText {
  color: @cr-gray-7;
}

.searchSelect {
  width: 100%;
  height: 48px !important;
  font-size: 16px;
  line-height: 24px;
  border: 0 !important;
  border-bottom: 1px solid var(--cr-primary-border) !important;
  background-color: var(--cr-primary-bg) !important;
  box-shadow: none !important;

  input {
    background-color: var(--cr-primary-bg) !important;
  }

  .placeholderMagnifier {
    color: #8C8C8C !important;
  }
}

.searchResults {
  max-height: 380px;
  overflow: auto;
  padding: 8px;
  background-color: var(--cr-secondary-bg) !important;
}

.empty {
  height: 32px;
  display: flex;
  align-items: center;
  background-color: var(--cr-secondary-bg) !important;
  color: #8C8C8C !important;
  padding-left: 8px;
  user-select: none;

  .noQueryHighlight {
    color: var(--cr-primary-color) !important;
  }
}

.optionTitle {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 8px;
  color: #8C8C8C !important;
  background-color: var(--cr-secondary-bg) !important;
}

.option {
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 4px;
  background-color: var(--cr-secondary-bg) !important;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    background-color: var(--cr-primary-bg) !important;
    border: 1px solid var(--cr-primary-border) !important;
  }
}

.coinOption {
  img {
    margin-left: 8px;
    height: 20px;
    width: 20px;
  }

  .coinName {
    margin-left: 10px;
  }

  .coinSymbol {
    margin-left: 5px;
    color: @cr-gray-7;
  }
}

.categoryOption {
  padding-left: 4px;
}