@import './variables.module.less';

.sidebar {
  background: var(--cr-primary-bg);
  padding: 16px 0 128px 0;
  border-right: 1px solid var(--cr-primary-border);

  :global(.ant-layout-sider-trigger) {
    top: 0;
    left: 217px;
    bottom: unset;
    width: 20px !important;
    text-align: right;
    padding-right: 8px;
    height: 30px;
    line-height: 30px;
    background: unset;

    svg {
      height: 15px;
      width: 17px;
      fill: @cr-gray-7;
    }
  }

  &.collapsed {
    :global(.ant-layout-sider-trigger) {
      padding-right: unset;
      left: 16px;
      width: 20px !important;
    }
  }
}

.trigger:hover svg {
  fill: var(--cr-secondary-text);
}

.logo {
  text-align: center;
  margin-bottom: 5px;
}

.tools {
  width: 100%;
  justify-content: center;
  padding-bottom: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 128px;
  width: 100%;
  text-align: center;
}