@import './variables.module.less';

.sidebar {
  background: var(--cr-primary-bg);
  padding: 16px 0 128px 0;
  border-right: 1px solid #F0F0F0;

  :global(.ant-layout-sider-trigger) {
    top: 0;
    left: 217px;
    bottom: unset;
    width: 20px !important;
    text-align: right;
    padding-right: 8px;
    height: 30px;
    line-height: 30px;
    background: unset;

    svg {
      height: 15px;
      width: 17px;
      fill: @cr-gray-7;
    }
  }

  &.collapsed :global(.ant-layout-sider-trigger) {
    padding-right: unset;
    left: 16px;
    width: 20px !important;
  }
}

.trigger:hover svg {
  fill: @cr-gray-3;
}

.logo {
  text-align: center;
  margin-bottom: 5px;
}

.tools {
  width: 100%;
  justify-content: center;
  padding-bottom: 16px;
}

.menu {
  font-size: 14px;
  border-right: none;
  max-height: 784px;
  overflow-y: auto;

  :global(.ant-menu-submenu-title) {
    cursor: auto;
    border-top: 1px solid #F0F0F0;
    margin-bottom: 0;

    :global(.ant-menu-title-content) {
      font-size: 12px !important;
      line-height: 22px !important;
      color: #8C8C8C;
    }
  }

  :global(.ant-menu-sub) {
    background: var(--cr-primary-bg) !important;
  }

  :global(.ant-menu-submenu-arrow) {
    display: none;
  }

  :global([role=menuitem]) {
    padding-left: 12px !important;
    font-weight: bold;
    color: var(--cr-secondary-text);

    &:hover {
      color: var(--cr-secondary-text);
    }
  }

  :global(.anticon) {
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 2px;

    svg {
      height: 15px;
      vertical-align: -3px;
    }
  }

  .sunsetOrange {
    background: #FFE7BA;

    svg {
      fill: #FA8C16;
    }
  }

  .polarGreen {
    background: #D9F7BE;

    svg {
      fill: #52C41A;
    }
  }

  .dustRed {
    background: #FFCCC7;

    svg {
      fill: #F5222D;
    }
  }

  .geekBlue {
    background: #D6E4FF;

    svg {
      fill: #2F54EB;
    }
  }

  .goldenPurple {
    background: #EFDBFF;

    svg {
      fill: #722ED1;
    }
  }

  .daybreakBlue {
    background: #BAE7FF;

    svg {
      fill: #1890FF;
    }
  }

  .gray {
    background: #F0F0F0;

    svg {
      fill: #8C8C8C;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 128px;
  width: 100%;
  text-align: center;

  .socials {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;

    img {
      width: 28px;
      height: 28px;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }

  .fundedby {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    font-size: 14px;
    color: #8C8C8C;
  }

  .funders {
    width: 100%;
    justify-content: center;

    svg {
      height: 20px;
    }

    .ga:hover path {
      fill: #5D7DF1;;
    }

    .kick:hover path {
      fill: #53FC18;
    }
  }
}