@import (reference) './base.module.less';
@import './variables.module.less';

.container {
  &:extend(.container);

  @media (max-width: @screen-sm) {
    padding: 16px 24px 32px 24px;
  }
}

.title {
  &:extend(.title);

  text-align: center;
}

.breadcrumbs {
  margin-bottom: 1em;
}

.breadcrumb {
  color: #ACACAC !important;

  &:hover {
    filter: brightness(0.7) !important;
  }
}

.link:visited {
  color: @purple-5;
}