@import './variables.module.less';

.socials {
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid var(--cr-primary-border);
  border-bottom: 1px solid var(--cr-primary-border);

  img {
    width: 28px;
    height: 28px;

    &:hover {
      filter: brightness(1.2);
    }
  }
}