.content {
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
}

.breadcrumbs {
  margin-bottom: 48px;
}

.title {
  text-align: center;
  font-size: 30px !important;
  line-height: 38px !important;
  font-weight: normal !important;
  margin-bottom: 24px 0 !important;
}

.termsTitleBoldPart {
  font-weight: 600;
}

.paragraph {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 24px !important;
}