@import (reference) './base.module.less';
@import './variables.module.less';

.title {
  &:extend(.title);

  text-align: center;
  font-weight: normal !important;
  margin-bottom: 24px !important;

  @media (max-width: @screen-md) {
    margin-bottom: 16px !important;
  }

  .bold {
    font-weight: 600;
  }
}

.subtitle {
  &:extend(.title);

  margin-top: 24px !important;

  @media (max-width: @screen-md) {
    margin-top: 16px !important;
  }
}

.paragraph {
  &:extend(.paragraph);

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.list {
  margin-bottom: 24px !important;
  padding-left: 48px !important;

  @media (max-width: @screen-md) {
    margin-bottom: 16px !important;
    padding-left: 32px !important;
  }

  li {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-bottom: 12px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}