@import '~antd/lib/style/themes/default.less';
@import '~antd/lib/style/color/colors.less';

// TYPOGRAPHY
@font-family: 'IBM Plex Sans', sans-serif;

// COLORS – ANT OVERRIDES
@primary-color: @geekblue-6;
@primary-color-hover: @geekblue-5;

// COLORS – COINROTATOR
@cr-white: @background-color-light;
@cr-black: @text-color;

@cr-primary-color: @geekblue-6;
@cr-success-color: @green-6; 
@cr-error-color: @red-6; 

@cr-link-hover-color: @primary-color-hover;
@cr-icon-fill: @disabled-color;
@cr-icon-fill-hover: @text-color;

// MEDIA QUERIES 
@screen-xl: 1440px;
@screen-lg: 900px;
@screen-md: 600px;
@screen-sm: 480px;

// EXPORTS
:export {
  white: @cr-white;
  black: @cr-black;
  primaryColor: @cr-primary-color;
  successColor: @cr-success-color;
  errorColor: @cr-error-color;
}