@import '~antd/lib/style/themes/default.less';
@import '~antd/lib/style/color/colors.less';

// TYPOGRAPHY
@font-family: 'IBM Plex Sans', sans-serif;

// COLORS – ANT OVERRIDES
@text-color-secondary: #ACACAC;

// COLORS – COINROTATOR

@cr-primary-color: @geekblue-6;

@cr-link-hover-color: @primary-color-hover;
@cr-icon-fill: @disabled-color;
@cr-icon-fill-hover: @text-color;

// DARK MODE COLORS

@cr-gray-1: #141414;
@cr-gray-2: #1D1D1D;
@cr-gray-3: #262626;
@cr-gray-4: #303030;
@cr-gray-5: #434343;
@cr-gray-7: #7D7D7D;
@cr-gray-8: #ACACAC;
@cr-gray-9: #DBDBDB;
@cr-gold-1: #2B2111;

// MEDIA QUERIES
@screen-xl: 1440px;
@screen-lg: 900px;
@screen-md: 600px;
@screen-sm: 480px;

// EXPORTS
:export {
  white: @white;
  black: @black;
  primaryColor: var(--cr-primary-color);
  successColor: var(--cr-success-color);
  errorColor: var(--cr-error-color);
  geekBlue7: @geekblue-7;
}